<div class="recipe-tile">
  <div class="recipe-tile-inner">
  <div class="front">
    <div class="img-container">
      <% if(recipe.escape('large_image_url')){ %>
        <img src="<%= recipe.escape('large_image_url') %>" />
      <% }else{ %>
        <img src="<%= recipe.escape('small_image_url') %>" />
      <% } %>
    </div>
    <div class="caption_title">
      <h5><%= recipe.escape('title') %></h5>
    </div>
  </div>
  <div class="front back">
    <% if(matchedIngredients.length > 0){ %>
    <h5>Ingredients You Have:</h5>
    <ul>
      <% _(matchedIngredients).each(function(ingredient){ %>
          <li><%= ingredient %>,</li>
      <% }) %>
    </ul>
    <% } %>
    <h5>Ingredients You Need:</h5>
    <ul>
      <% _(otherIngredients).each(function(ingredient){ %>
        <li><%= ingredient %></li>
      <% }) %>
    </ul>
  </div>
  </div>
</div>