<div class="recipe-tile">
  <div class="recipe-tile-inner">
  <div class="front">
    <% if(recipe.escape('large_image_url')){ %>
      <img src="<%= recipe.escape('large_image_url') %>" />
    <% }else{ %>
      <img src="<%= recipe.escape('small_image_url') %>" />
    <% } %>
    <div class="caption_title">
      <h5><%= recipe.escape('title') %></h5>
    </div>
  </div>
  <div class="front back">
    <h4>Ingredients You Have:</h4>
    <ul>
      <% _(recipe.ingredientMatches()).each(function(ingredient){ %>
          <li><%= ingredient %>,</li>
      <% }) %>
    </ul>
    <h4>Ingredients You Need:</h4>
    <ul>
      <% _(recipe.otherIngredients()).each(function(ingredient){ %>
        <li><%= ingredient %></li>
      <% }) %>
    </ul>
  </div>
  </div>
</div>