<div class="text-center">
  <h1><%= recipe.escape('title') %></h1>
  <h6>Recipe From: <a href="<%= recipe.escape('source_site_url') %>"><%= recipe.escape('source_display_name') %></a></h6>
  <% if(recipe.escape('total_time')) { %>
    <p>Total Prep Time: <%= recipe.escape('total_time') %></p>
  <% } %>
  <hr>
</div>
  <div class="col-md-4">
    <h3>Ingredients:</h3>
    <ul>
      <% _(ingredients).each(function(ingredient) { %>
        <li><%= ingredient %></li>
      <% }) %>
    </ul>
  </div>
  <div class="col-md-8">
     <img src="<%= recipe.escape('large_image_url') %>" class="img img-responsive img-rounded recipe-image center-block">
  <hr>
  <h4 class="text-center">Read full instructions on <a href="<%= recipe.escape('source_recipe_url') %>" target="_blank"><%= recipe.escape('source_display_name') %>.</a></h4>
  </div>
<div class="col-md-12 credit">
  <hr>
  <p class="text-center small"><%= recipe.get('credit') %></p>
</div>
