<!DOCTYPE html>
<html>
<head>
  <title>DinDin</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="<%= root_url %>" class="navbar-brand">din din</a>
        <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><a href="#">Hello, <%= current_user.username %></a></li>
        <% end %>
          <li><a href="#">Search for Recipes</a></li>
          <li><a href="#/ingredients">Find Ingredients</a></li>
          <li><a href="#/recipes">All Recipes</a></li>
        </ul>
    </div>

      <ul class="nav navbar-nav pull-right">
      <% if user_signed_in? %>
        <li><%= button_to "Log out", destroy_user_session_url, method: :delete, class: "btn btn-warning navbar-btn" %></li>
      <% else %>
        <li><%= link_to "Sign up", new_user_registration_url %></li>
        <li><%= button_to "Sign in", new_user_session_url, method: :get, class: "btn btn-primary navbar-btn" %></li>
      <% end %>
      </ul>
  </div>
</nav>

<div class="container">
  <% if notice %>
    <div class="alert alert-success"><%= notice %></div>
  <% end %>
  <% if alert %>
    <div class="alert alert-warning"><%= alert %></div>
  <% end %>
  <% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
      <div class="alert-alert-warning"><%= error %></div>
    <% end %>
  <% end %>
  <%= yield %>
</div> <!-- /.container -->

</body>
</html>
