<!DOCTYPE html>
<html>
<head>
  <title>din din</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <ul class="nav navbar-nav pull-left" id="fridge-toggle">
          <li>
            <button class="btn navbar-btn btn-link menu-toggle" id="fridge-image">
              <%= image_tag 'fridge.png' %>
            </button>
          </li>
        </ul>
        <a href="<%= root_url %>" class="navbar-brand">din din</a>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse-1">
        <ul class="nav navbar-nav">
        <% if user_signed_in? %>
          <li><a href="#">Hello, <%= current_user.username %></a></li>
        <% end %>
          <li><a href="#">Search for Recipes</a></li>
          <li><a href="#/ingredients">Find Ingredients</a></li>
          <li><a href="#/recipes">Favorite Recipes</a></li>
        </ul>
        <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
          <li><%= button_to "Log out", destroy_user_session_url, method: :delete, class: "btn btn-warning navbar-btn" %></li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_url %></li>
          <li><%= button_to "Sign in", new_user_session_url, method: :get, class: "btn btn-primary navbar-btn" %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <div id="site-wrapper">
    <div id="site-canvas">
      <div id="user-menu">
        <a href="#" class="menu-toggle" id="open-fridge"><h3>&#8595; Open the Fridge &#8593;</h3></a>
        <div id="user-menu-inner">
          <button type="button" class="close menu-toggle">&times;</button>
          <h2>The Fridge</h2>
          <hr>
          <div id="fridge-box"></div>
  <!--         <h4>Your Favorite Recipes:</h4> -->
        </div>
      </div>  <!-- /user-menu -->

      <div class="container">
        <% if flash[:errors] %>
          <% flash[:errors].each do |error| %>
            <div class="alert-alert-warning"><%= error %></div>
          <% end %>
        <% end %>
        <%= yield %>
      </div> <!-- /.container -->
    </div> <!-- /#site-canvas -->
  </div> <!-- /#site-wrapper -->
</body>
</html>
